@import url('./_settings-section.css');
html, body {
	height: 100vh;
}

:root {
	--sp-list-view-columns: 2;
	--sp-list-item-width: auto;
}

#app {
	display: grid;
	grid-template-rows:  min-content 1fr min-content;
	position: absolute;
	inset: 0;
	color: var(--sp-color-main-foreground);
	background: var(--sp-color-main-background);
}

body {
	font-family: sans-serif;
}

header {
	display: grid;
	color: var(--sp-color-header-foreground);
	background-color: var(--sp-color-header-background);
	gap: var(--sp-spacing-2x);
	place-items: center;
	grid-template-columns: max-content 1fr;
}

header h1 {
	font-size: var(--sp-spacing-title-1-size);
}
	main:focus {
	outline: 2px solid var(--sp-color-interactive-outline);
	outline-offset: 0;
}

h2 button {
	font-size: 1rem;
	padding: var(--sp-spacing-1x) var(--sp-spacing-4x);
}

.is-primary {
	background: var(--sp-color-interactive);
	color: var(--sp-color-header-foreground);
	border: 1px solid rgba(0, 0, 0, 0);
}
.is-primary:not([disabled]):hover {
	background: var(--sp-color-interactive-hover);
}

.is-borderless {
	border-color: transparent !important;
}

.logo {
	width: auto;
	opacity: 0.7;
	padding: var(--sp-spacing-1x);
	height: 3.5em;
}

.buttons {
	display: grid;
	justify-content: center;
	gap: var(--sp-spacing-2x);
}

.dialog-content {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: var(--sp-spacing-2x);
}

.dialog-content .buttons {
	margin-top: var(--sp-spacing-4x);
	grid-template-columns: min-content min-content;
}

.dialog-content button {
	width: 5em;
}

#choose-track {
	margin-top: var(--sp-spacing-4x);
	min-width: 13em;
}

#choose-track-message {
	padding: var(--sp-spacing-2x);
}

#result {
	color: var(--sp-color-interactive);
	font-size: larger;
}

#the-list {
	display: block;
	text-align: center;
	padding: var(--sp-spacing-1x);
	columns: var(--sp-list-view-columns);
	padding-bottom: var(--sp-spacing-2x);
}
#the-list.is-hiding-unselected list-item:not([checked]) {
	display: none;
}

#the-list > * {
	margin: 0 0.5em 0.5em 0;
}

.flex-spread {
	display: flex;
	gap: 1em;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--sp-spacing-2x);
}

@media screen and (min-width: 1441px) {
	:root {
		--sp-list-view-columns: 4;
	}
}
@media screen and (max-width: 1440px) {
	:root {
		--sp-list-view-columns: 3;
	}
}
@media screen and (max-width: 1200px) {
	:root {
		--sp-list-view-columns: 2;
	}
}

@media screen and (max-width: 750px) {
	:root {
		--sp-list-view-columns: 1;
	}
}

@media screen and (max-width: 750px) {
	.flex-spread {
		flex-direction: column;
	}
}
