a {
	color: var(--sp-color-interactive);
	display: inline-block;	
}
a:focus {
	background: var(--sp-color-interactive-background-hover-subtle);
	outline: 2px solid var(--sp-color-interactive-outline);
	outline-offset: 0;
}
a:hover {
	background: var(--sp-color-interactive-background-hover);
	text-decoration: none;
}

h2 {
	font-size: var(--sp-spacing-title-2-size);
	margin: var(--sp-spacing-4x) 0;
}

h3 {
	font-size: var(--sp-spacing-title-3-size);
}

main {
	display: grid;
	padding: var(--sp-spacing-2x);
	overflow-y: auto;
	grid-template-rows: repeat(2, min-content);
}
footer {
	padding: var(--sp-spacing-2x) var(--sp-spacing-4x);
	font-size: smaller;
	color: var(--sp-color-header-foreground);
	background-color: var(--sp-color-header-background);
}

footer a {
	color: var(--sp-color-header-foreground);
}

button {
	background: var(--sp-color-main-background);
	color: var(--sp-color-main-foreground);
	border: 1px solid var(--sp-color-main-foreground-muted);
	border-radius: var(--sp-spacing-radius);
	padding: var(--sp-spacing-2x) var(--sp-spacing-4x);
}
button[disabled] {
	filter: saturate(0%);
}
button:not([disabled]):hover {
	cursor: pointer;
	background: var(--sp-color-main-background-muted);
}
button:not([disabled]):focus {	
	outline: 2px solid var(--sp-color-interactive-outline);
	outline-offset: -6px;
}
input {
	accent-color: var(--sp-color-interactive);
}

input:focus {	
	outline: 2px solid var(--sp-color-interactive-outline);
}

label {
	cursor: pointer;
}

section {
	padding-bottom: var(--sp-spacing-8x);
	border-bottom: 1px solid var(--sp-color-main-foreground-muted);
	text-align: center;
	width: 100%;
}
section:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

