.settings-section {
	padding: 0	;
	border: 1px solid var(--sp-color-border);
	border-radius: var(--modal-spacing-radius, 0);
	margin: var(--sp-spacing-1x) 0;
}
.settings-section-header > *::after {
	content: '\25B6';
	color: var(--sp-color-interactive);
	display: inline-block;
	margin-left: var(--sp-spacing-1x);
	transform: rotate(0deg);
	transition: transform var(--sp-interactive-transition-duration) var(--sp-interactive-transition-function);
}

.settings-section[open]:not([closing]) .settings-section-header > *::after {
	transform: rotate(90deg);
}

.settings-section-header::-webkit-details-marker, /* thank you, iOS >:( */
.settings-section-header::marker { 
	display: none;
	color: rgba(0, 0, 0, 0);
}

.settings-section-header {
	display: flex;
	justify-content: center;
	padding-top: var(--sp-spacing-2x);
	border-radius: var(--modal-spacing-radius, 0);
	cursor: pointer;
	min-height: 2em; 
	overflow: hidden;
}
.settings-section-header:hover {
	background-color: var(--sp-color-main-background-muted);
}
.settings-section-header:focus {
	outline: 2px solid var(--sp-color-interactive-outline);
	outline-offset: -4px;
}

.settings-section-header h2, .settings-section-header h3 {
	display: inline-block;
	margin-bottom: var(--sp-spacing-2x);
	margin-top: 0;
}

