:root {
	color-scheme: light;
	/* global, light theme */
	--sp-color-header-background: #364a75;
	--sp-color-header-foreground: var(--sp-color-main-background);

	--sp-color-main-background: #ffffff;
	--sp-color-main-background-muted: #f0f0f0f0;
	--sp-color-main-foreground: #333333;
	--sp-color-main-foreground-muted: #00000055;

	--sp-color-border: #bbb;

	--sp-interactive-transition-function: cubic-bezier(.68,-0.55,.27,1.55);
	--sp-interactive-transition-duration: 0;

	/* spacing */
	--sp-spacing-1x: 0.25rem;
	--sp-spacing-2x: 0.5rem;
	--sp-spacing-3x: 0.75rem;
	--sp-spacing-4x: 1rem;
	--sp-spacing-8x: 2rem;

	--sp-spacing-radius: 0.25rem;

	--sp-spacing-title-1-size: 2rem;
	--sp-spacing-title-2-size: 1.5rem;
	--sp-spacing-title-3-size: 1.1rem;

	/* interactive */ 
	--sp-color-interactive: #324369;
	--sp-color-interactive-hover: #3b5da7;
	--sp-color-header-interactive-hover: #d1ebd3;
	--sp-color-interactive-background: rgba(0, 0, 0, 0);
	--sp-color-interactive-background-hover: rgba(0, 0, 0, 0.15);
	--sp-color-interactive-background-muted: #e9f0ff;
	--sp-color-interactive-background-hover-subtle: rgba(0, 0, 0, 0.01);
	--sp-color-interactive-outline: #ff8800;

	--modal-color-content-background: var(--sp-color-main-background);
	--modal-color-content-foreground: var(--sp-color-main-foreground);
	--modal-color-veil: rgba(128, 128, 128, 0.3);
	--modal-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
	--modal-spacing-radius: var(--sp-spacing-radius);
	--modal-interactive-transition-function: var(--sp-interactive-transition-function, ease-in);
	--modal-interactive-transition-duration: var(--sp-interactive-transition-duration, 500ms);
	--modal-interactive-transform-origin: top left;
	--modal-interactive-transform-visible: scale(1, 1);
	--modal-interactive-transform-invisible: scale(0, 0);

	--sp-tile-width: 12em;
}

@media screen and (prefers-reduced-motion: no-preference){
	:root {
		--sp-interactive-transition-duration: 400ms;
	}
}

@media screen and (max-width: 400px) {
	:root {
		--sp-spacing-title-1-size: 1.5rem;
		--sp-spacing-title-2-size: 1.2rem;
		--sp-tile-width: 8em;
	}
}

@media screen and (max-height: 400px){
	:root {
		--sp-spacing-title-1-size: 1.5rem;
		--sp-spacing-title-2-size: 1.2rem;
		--sp-spacing-title-3-size: 1rem;
	}	
}